<a>
  <picture>
    <source srcset="assets/img/banner-mobile.png" media="(max-width: 768px)">
    <img src="assets/img/banner.png" alt="" class="w-100">
  </picture>
</a>
<div class="container mt-5 mb-5">
  <h1>¿Cómo funciona este exámen?</h1>
  <p class="mt-4 mb-4">Este exámen te sirve como simulacro para la prueba de estado,
    te permitiá tener una serie de benficios, como la certificación inmediata,
    despues de haber realizado la prueba</p>

  <h3>Especificaciones</h3>
  <p>Recuerda que realizar este examen es completamente gratuito</p>
  <ul class="explicacion mt-3 mb-3">
    <li>
      <img src="assets/img/tiempo.svg" alt="" width="128">
      Tiempo estimado de 4hras
    </li>
    <li>
      <img src="assets/img/pregunta.svg" alt="" width="128">
      120 preguntas
    </li>
    <li>
      <img src="assets/img/calificacion.svg" alt="" width="128">
      Calificación expontanea
    </li>
    <li>
      <img src="assets/img/certificacion.svg" alt="" width="128">
      Certificación
    </li>
  </ul>
  <a class="button mb-5 mt-3" [routerLink]="['/examen']">Iniciar prueba</a>
</div>
