<div class="container">
  <a class="hyperlink justify-content-start" *ngIf="!isBusqueda" (click)="isBusqueda = !isBusqueda">Volver a consultar resultados</a>
</div>
<div class="content-buscar" *ngIf="isBusqueda; else buscando">
  <div class="container">
    <h1>Consulta de resultados</h1>
    <p>Ingresa tu correo eléctronico para validar el exámen</p>
    <div class="content-form">
      <input type="text" [formControl]="codResultado" placeholder="Ingresa el codigo">
      <div class="errors">
        <span *ngIf="codResultado.touched && codResultado.hasError('required')">Este campo es obligatorio</span>
        <span *ngIf="isProblem">El código que ingresate no es valido, ingresa otro.</span>
      </div>
      <button class="button mt-3 w-100" (click)="buscar()" [disabled]="codResultado.invalid">Buscar</button>
    </div>
  </div>
</div>
<ng-template #buscando>
  <div class="container">
    <div class="card-certicacion">
      <div class="content-cestication">
        <img src="assets/img/LOGO.png" alt="" width="250" class="m-auto">
        <div class="decriptions" *ngIf="isCertificated; else descriptionCertificate">
          <span class="title mb-5">CERTIFICACIÓN DE SUFICIENCIA</span>
          <p class="descirption">La aplicación examapp le otorga esta certificación a:</p>
        </div>
        <ng-template #descriptionCertificate>
          <div class="decriptions">
            <span class="title mb-5">¡Ops....!</span>
            <p class="descirption">No aprobaste el exámen...</p>
            <p class="descirption">¡Recuerda que puedes intentalo nuevamente!</p>
          </div>
        </ng-template>
        <span class="name">{{dataResults?.nombre}} {{dataResults?.apellido}}</span>
        <p class="description-two" *ngIf="isCertificated">Por realizar y aprobar con <strong>{{dataResults?.resultado}}</strong> el examen satisfactoriamente,
          por medio de la plataforma <strong>Examapp</strong></p>
        <span class="firma" *ngIf="isCertificated">
        <img src="assets/img/firma.svg" alt="" width="130" class="m-auto mt-5 mb-3">
        <hr>
        <span class="nombre"><strong>Directora general: </strong>Katerin Tatiana Cuellar Pardo</span>
      </span>
      </div>
      <div *ngIf="!isCertificated;" class="mt-5 mb-4">
        <a [routerLink]="['/examen']" class="button m-auto">Realizar examen</a>
        <a [routerLink]="['/']" class="hyperlink">Volver al inicio</a>
      </div>
    </div>

  </div>
</ng-template>
