/* You can add global styles to this file, and also import other style files */
@import "src/colors";

a {
  cursor: pointer;
  text-decoration: none;
}
.button {
  background: $primary-color;
  color: white;
  padding: 15px 4rem;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  display: flex;
  width: fit-content;
  border: none;

  &:hover {
    background: $secundary-color;
  }
}

h1, h2, h3, h4 {
  color: $primary-color;
  font-weight: bold;
}
