/* You can add global styles to this file, and also import other style files */
@import "src/colors";

a {
  cursor: pointer;
  text-decoration: none;
}
.button, input[type="submit"] {
  background: $primary-color;
  color: white;
  padding: 15px 4rem;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  display: flex;
  width: fit-content;
  border: none;

  &:hover {
    background: $secundary-color;
  }
  &:disabled {
    opacity: .2;

    &:hover {
      background: $primary-color;
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
}

h1, h2, h3, h4 {
  color: $primary-color;
  font-weight: bold;
}
.content-form {
  input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
  }
}

ul {
  padding: 0;
}

.hyperlink {
  display: flex;
  justify-content: center;
  color: $primary-color;
  text-decoration: underline;
  :hover {
    color: $secundary-color;
  }
}

.errors {
  color: red;
}

@media (max-width: 768px) {
  .modal {
    .modal-dialog {
      margin: 0;
      .modal-content {
        .modal-body {
          height: 100vh;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
