@import "src/colors";
.container-header {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    li {
      list-style: none;
      margin-right: 1rem;
      a {
        color: $primary-color;
        font-weight: 500;
      }
    }
  }

  .my-account {
    margin-left: auto;
  }
}
