<form [formGroup]="data">
  <div class="container mb-4">
    <div *ngFor="let pregunta of preguntas">
      <h5 class="text-center">{{pregunta?.descripcion}}</h5>
      <h4>{{pregunta?.materia}}</h4>
      <div *ngFor="let preg of pregunta?.grupo; let i = index">
        <p>{{i + 1}}. {{preg?.title}}</p>
        <img [src]="preg?.asset" class="mb-3" *ngIf="preg?.asset">
        <div class="respuesta">
          <label class="radio-inline" *ngFor="let res of preg?.respuestas">
            <input type="radio" name="respuesta{{i}}" (change)="sumaPuntaje(res, i + 1)" [value]="res?.id">{{res?.title}}
          </label>
        </div>
      </div>
    </div>
    <a class="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="saveResponse()"
       *ngIf="!buttonSubmit">Guardar Resultados</a>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="content-form">
              <h3 class="text-center">Datos de usuario</h3>
              <p class="text-center">Ingresa tus datos para poder terminar con el exámen.</p>
              <input type="text" formControlName="nombre" placeholder="Nombre">
              <input type="text" formControlName="apellido" placeholder="Apellido">
              <input type="text" formControlName="email" placeholder="Email">
              <input type="submit" value="Enviar" class="mt-3 justify-content-center" [disabled]="data.invalid" (click)="saveExamen()"
                     data-bs-dismiss="modal"  data-bs-toggle="modal" data-bs-target="#thankyouModal" >
              <a class="hyperlink" data-bs-dismiss="modal"  data-bs-toggle="modal" >Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="thankyouModal" tabindex="-1" aria-labelledby="thankyouModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <h3 class="text-center">¡Examen realizado!</h3>
            <p class="text-center" *ngIf="isResult; else examenPasado">
              ¡Oh no...! <br>
              Tu puntaje no es aceptable para generar la certificación. <br>
              Recuerda que puedes intentarlo nuevamente...
            </p>
            <ng-template #examenPasado>
              <p class="text-center">
                ¡En hora buena!<br>
                Pasaste el exámen, ahora puedes ver tu certificado del exámen
              </p>
            </ng-template>

            <p class="text-center"> Guarda este código, por si quieres volver a consultar tus resultados </p>
            <p class="text-center"><strong>{{codigo}}</strong></p>

            <div class="content-buttons mt-4 mb-4">
              <a class="button w-100 justify-content-center" *ngIf="!isResult" [routerLink]="['/resultados']" [queryParams]="{id: codigo}" data-bs-dismiss="modal" >Ver certificado</a>
              <a class="text-center hyperlink" [routerLink]="['/']" data-bs-dismiss="modal" >Volver al inicio</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
